#gallowCanvas, #interaction{
	float: left;
	margin: 10px;
}

#keyboard > p > button{
	padding: 14px;
}
#keyboard  > p:nth-child(2){
	padding-left: 20px;
}
#keyboard  > p:nth-child(3){
	padding-left: 35px;
}

#word_to_guess{
	font-size: 20pt;
}