#tcdo {
	border-color: #FF0000;
 	height: 200px;
 	width: 200px;
}
.visao {
	font-size: 16px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FF0000;
	font-weight: bold;
	text-decoration: none;
	float: left;
	border-color: #2E8B57;
}

.gameover {
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	float: left;
	border-color: #FF7F00;
}